// Helpers

@import "compass";
@import "h5bp";
@import "scut";
@import "breakpoint";

// HTML5 Boilerplate Styles
@include h5bp-normalize;
@include h5bp-base-styles;


// Breakpoints

$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);


// Colors

$brand-primary: #b3a4ff;
$brand-secondary: #50e3c2;
$bg-hero: #e2fff9;
$bg-body: #f4f4f4;
$bg-main: #fff;

$text-primary: rgba(0, 0, 0, .87);
$text-secondary: rgba(0, 0, 0, .54);
$text-hint: rgba(0, 0, 0, .38);
$divider: rgba(0, 0, 0, .12);


// Typography

body {
  color: $text-primary;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}


// Layout

html {
  background-color: $bg-body;
}

html,
body {
  @include breakpoint($screen-lg-min) {
    height: 100%;
  }
}

.container {
  @include scut-center-block;
  overflow: hidden;
  img {
    max-width: 100%;
    height: auto;
  }
  @include breakpoint($screen-sm-min) {
    width: $screen-sm-min;
  }
  @include breakpoint($screen-lg-min) {
    width: $screen-md-min;
  }
}

#main {
  @include scut-clearfix;
  overflow: hidden;
}


// Index

.content {
  @include breakpoint($screen-sm-min) {
    float: left;
    width: 66.7%;
  }
}

.brand .icon,
.brand .name,
.apple,
.download,
.subscribe {
  height: 112px;
  @include breakpoint($screen-sm-min) {
    height: 216px;
  }
}

.hero {
  height: 400px;
  @include breakpoint($screen-xs-min) {
    height: 544px;
  }
  @include breakpoint($screen-sm-min) {
    height: 432px;
  }
}

.brand {
  @include scut-clearfix;
  background-color: $bg-main;
  .icon {
    background: image-url("hashs_icon.svg") no-repeat 50% 50%;
    display: block;
    float: left;
    width: 33.33%;
    @include breakpoint($screen-sm-min) {
      width: 50%;
    }
  }
  .name {
    background-color: $brand-primary;
    color: white;
    float: left;
    position: relative;
    width: 66.67%;
    h1 {
      @include scut-center-transform;
      @include scut-rem-fallback(28);
      font: -apple-system-headline;
      font-weight: 400;
      margin: 0;
      text-align: center;
    }
    @include breakpoint($screen-sm-min) {
      width: 50%;
    }
  }
}

.hero {
  background-color: $bg-hero;
  overflow: hidden;
  text-align: center;
  h2 {
    @include scut-margin(32px n);
    @include scut-rem-fallback(28);
    color: $brand-primary;
    font: -apple-system-headline;
    font-weight: 300;
    @include breakpoint($screen-sm-min) {
      @include scut-margin(0);
      left: 32px;
      position: relative;
      text-align: left;
      top: 64px;
    }
    @include breakpoint($screen-md-min) {
      @include scut-rem-fallback(24);
    }
  }
  img {
    @include scut-center-block;
    width: 56%;
    @include breakpoint($screen-xs-min) {
      width: 40%;
    }
    @include breakpoint($screen-sm-min) {
      bottom: -12px;
      position: absolute;
      right: -40px;
      width: 56%;
    }
    @include breakpoint($screen-lg-min) {
      bottom: -64px;
      position: absolute;
      right: -32px;
      width: 48%;
    }
  }
  @include breakpoint($screen-sm-min) {
    clear: left;
    overflow: visible;
    position: relative;
    z-index: 100;
  }
}

.get {
  @include scut-clearfix;
  .apple {
    background: $brand-secondary image-url("apple_icon.svg") no-repeat 50% 50%;
    display: block;
    float: left;
    width: 33.33%;
    @include breakpoint($screen-sm-min) {
      width: 100%;
    }
  }
  .download {
    @include scut-rem-fallback(18);
    background-color: $brand-secondary;
    color: white;
    float: left;
    font: -apple-system-headline;
    font-weight: 200;
    position: relative;
    text-align: center;
    width: 66.67%;
    span {
      @include scut-center-transform;
      @include scut-padding(0 32px);
      box-sizing: border-box;
      width: 100%;
      @include breakpoint($screen-xs-min) {
        @include scut-padding(0 56px);
      }
      @include breakpoint($screen-lg-min) {
        @include scut-padding(0 32px);
      }
    }
    @include breakpoint($screen-sm-min) {
      width: 100%;
    }
  }
  @include breakpoint($screen-sm-min) {
    float: left;
    width: 33.3%;
  }
}

.subscribe {
  @include scut-clearfix;
  background-color: white;
  position: relative;
  input[type="text"],
  input[type="email"] {
    @include scut-padding(24px 24px 16px);
    @include scut-rem-fallback(17);
    border: 0;
    box-sizing: border-box;
    outline: none;
    -webkit-appearance: none;
    width: 100%;
  }
  button {
    @include scut-coords(n 16px 16px n);
    @include scut-padding(9px 12px);
    @include scut-rem-fallback(14);
    @include scut-border(2px solid $brand-secondary, y y);
    background-color: $brand-secondary;
    border-radius: 8px;
    color: white;
    float: right;
    font-weight: 500;
    line-height: 1;
    position: absolute;
    -webkit-appearance: none;
    &[disabled] {
      @include scut-border(2px solid $text-hint, y y);
      background-color: white;
      color: $text-secondary;
      opacity: 0.5;
    }
  }
  @include breakpoint($screen-sm-min) {
    float: left;
    width: 33.3%;
  }
}


// Pages

.page-content {
  @include scut-padding(32px 48px);
  background-color: white;
  h1 {
    @include scut-rem-fallback(28);
    line-height: 48px;
    .icon {
      @include scut-margin(n 16px n n);
      @include scut-size(48px 48px);
      background: image-url("hashs_icon.svg") no-repeat 50% 50%;
      display: block;
      float: left;
    }
  }
}


// Footer

footer {
  @include scut-clearfix;
  @include scut-padding(32px);
  color: $text-hint;
  text-align: center;
  p {
    @include scut-margin(0);
    @include scut-rem-fallback(14);
    @include breakpoint($screen-sm-min) {
      float: right;
    }
  }
  iframe {
    @include scut-margin(n n n 8px);
    vertical-align: middle;
  }
  ul {
    @include scut-list-inline;
    @include scut-margin(0 0 32px 0);
    @include scut-padding(0);
    @include breakpoint($screen-sm-min) {
      float: left;
    }
    @include breakpoint($screen-lg-min) {
      @include scut-margin(0 0 0 -8px);
    }
  }
  @include breakpoint($screen-sm-min) {
    @include scut-padding(24px);
    clear: left;
  }
  @include breakpoint($screen-lg-min) {
    @include scut-padding(24px 0);
  }
}

[class^="soc"] {
  @include scut-rem-fallback(14);
  @include scut-margin(0 12px);
  @include scut-size(24px 24px);
  display: block;
  svg {
    vertical-align: middle;
    path {
      fill: #000000;
      opacity: 0.23;
    }
  }
  &:hover {
    svg path {
      opacity: 1;
    }
  }
}

.soc1:hover svg path { fill: #3b5998; }
.soc2:hover svg path { fill: #55acee; }
.soc3:hover svg path { fill: #3f729b; }