---
title:      "#FAQ #Hashs"
bodyclass:  page faq
desc:       Frequently Asked Questions
---

.page-content
  %h1
    %span.icon
    = link_to "Hashs", "/"

  :markdown
    ## FAQ

    **What is Hashs?**  
    Hashs is a smartphone app where people hash tag each other.

    **What are Hashs?**  
    Hashs are fun words and phrases.

    **How do i login?**  
    Through Facebook.

    **What information do you request from Facebook?**  
    We ask for your basic info and location.

    **Can I login through email?**  
    Soon. Leave your email in the app and you will be notified when you can login with your email.

    **How does it work?**

    1. Login with Facebook
    2. Pick a friend or profile
    3. Select hashs and send

    **How can I share hashs I’ve received?**  
    On your profile there is hashscloud&trade;. Share your hashscloud&trade; to Facebook, Instagram or Twitter.

    **What is hashscloud&trade;?**  
    Your hashscloud&trade; is a visual overview of all hashs you’ve received.

    **Can others see who has hashed me?**  
    No. Others can see your hashs but not who sent them.

    **Who are hashies&trade;?**  
    Hashies&trade; are your friends following you and vice versa. When your Facebook friends join Hashs they become your hashies instantly.

    **How can I see hashscloud&trade; of my friend?**  
    Go to your friend’s profile, select hashs and send to your friend. Right after that you can see hashscloud&trade; of your friend.

    **Can I see my friends’ hashscloud&trade; without sending hashs?**  
    Nope. You have to send your friends hashs before you can see their hashscloud&trade;.

    **Can I report hashs I received?**  
    Yes, you can flag hashs and they will be reported.

    **Can I send multiple hashs?**  
    Of course!

    **Why do some of profiles have golden hashs?**  
    If alot of your friends hash tag you with the same word you get silver tags followed by golden.

    **Can I search for people?**  
    Not yet but soon.

    **What are verified profiles?**  
    Verified profiles are celebrities, sportspeople, politicians, brands and products.

    **Can others see my feed?**  
    No, your feed is only visible to you.

    **Tell me about my privacy?**  
    Hashs creates one-to-one communication between people which is private. The hashs you send is visible only to the recepient. Hashs you received is only visible to you. Your profile can only be seen by your hashies.

    **Is Hashs free?**  
    Yes! Hashs is free to download and use.

    **What are your values?**  
    Simplicity and design.

    **Why are you doing this?**  
    To bring happiness, emotions and meaning.