---
title:      "#FAQ #Hashs"
bodyclass:  page faq
desc:       Frequently Asked Questions
---

.page-content
  %h1
    %span.icon
    Hashs

  :markdown
    ## FAQ

    **What is Hashs?**  
    Hashs is a app where people hash tag each other.

    **What are Hashs?**  
    Hashs are fun words and phrases.

    **How do i login?**  
    Through facebook or instagram only. 

    **What permissions you take from Facebook / Instagram?**  
    We ask for your basic info, location and frends list.

    **Can I login through email?**  
    Not for now. Leave your email in the app and you will be notified when you can login with your email.

    **How does it work?**
    
    1. Sign in through Facebook
    2. Select a friend or profile
    3. Select hashs and send

    **How can I share hashs I’ve received?**  
    On your profile there is hashcloud. Simply tap on the medium image you want to share your hashcloud to. (Facebook, Instagram, Snapchat, Twitter)

    **What is hashscloud&trade;?**  
    Hashcloud&trade; is a collective curation of all hashs you have received.

    **Can others see which friends send me what hashs?**  
    No. Others can only see your hashcloud without knowing who sent those hashs.

    **How can I see hashcloud&trade; of my friend?**  
    Go to your friends profile, select hashs and send to your friend. Right after that you can see hashcloud of your friend.

    **Can I see my friends hashcloud&trade; without sending hashs?**  
    No. You have to send hashs before you can see your friends hashcloud&trade;.

    **Where can I see hashs my friends have sent?**  
    Go to your profile and tap on feed/hashs.

    **Can I edit hashs i gave?**  
    Yes, you can edit hashs you have given at any time.

    **Can I select multiple hashs to send?**  
    Yes.

    **Why some of profiles have golden hashs?**  


    **Tell me about badges?**  


    **How do I send an emoji?**  
    Simply tap on the emoji you next to hashs and send.

    **What is the heart on other profiles?**  
    Heart is a way to show super like for a person.

    **Where can I search people?**  
    You can search your friends or verified profiles in the search.

    **What are verified profiles?**  
    Verified profiles are celebrities, sportspeople, politicians, brands and products.

    **How do i follow others?**  
    Simply tap on the follow button on the profile.

    **Can others see my feed?**  
    No, your feed can only be seen by you.

    **Tell me about my privacy?**  
    Hashs creates one to one communication between people which is private. The hashs you send can only be seen by that person. Hashs you receive can only be viewed by you. Your profile can only be seen by people you unless you have set your status public.

    **Why do you ask for permission to my phone contact list when I submit my email?**  
    We store your phone book list to notify you when your contacts are on the app. We do not share your contact list with any third party!

    **How do I log out?**  
    Go to settings and log out.

    **Is Hashs free?**  
    Yes! Hashs is completely free to download and use.

    **Will you add more hashs to send?**  
    Yes, in near future.

    **Will you add more emojis to send?**  
    Yes, in near future.

    **Why do I see a status update?**  
    We are testing a new feature where you can send updates to your followers. 

    **How do I use the status update?**  
    type #snap to share a picture from camera roll, select #hashs and send or simply type a status mood e.g. #happy #giphy and send.

    **What are suggested profiles?**  
    Suggested profiles are users suggested to you.

    **Where do I send feedback?**  


    **What are your values?**  
    Simplicity and design.

    **Why are you doing this?**  
    To bring emotions, meaning and happiness.