---
title:     Hashs
bodyclass: home
---

.content
  .brand
    %span.icon
    .name
      %h1= "Hashs"
  .hero
    %h2= "#hash with friends"
    = image_tag "iphone@2x.png", alt: "iPhone"
.get
  .apple
  .download
    %span= "coming soon to the app store"

.subscribe
  %form
    %input{type: "text", placeholder: "your email address"}
    %button{type: "submit", disabled: true} notify me
