---
title:      Hashs
bodyclass:  home
desc:       Hashs app
ogp:
  fb:
    description: 'This is my fixture Middleman site.'
    image:
      '': http://mydomain.tld/path/to/fbimage.png
      secure_url: https://secure.mydomain.tld/path/to/fbimage.png
      type: image/png
      width: 400
      height: 300
---

.content
  .brand
    %span.icon
    .name
      %h1= "Hashs"
  .hero
    %h2= "#hash with friends"
    = image_tag "iphone@2x.png", alt: "iPhone"
.get
  .apple
  .download
    %span= "coming soon to the app store"

.subscribe
  %form#subForm{action: "http://aen.createsend.com/t/r/s/hydltld/", method: "post"}
    %input#fieldEmail{name: "cm-hydltld-hydltld", required: "", type: "email", placeholder: "your email address"}/
    %button{type: "submit"} notify me