---
title:      "#Terms #Hashs"
bodyclass:  page terms
desc:       Terms of Service
---

.page-content
  %h1
    %span.icon
    = link_to "Hashs", "/"

  :markdown
    ## Terms of Service

    These Terms of Service (“Terms”) govern your use of the hashs website (“Site”) and any hashs mobile application, and other services offered under the hashs name (“Services”). Hashs Technologies IVS. (“hashs” “we” or “us”) provides the Site and Services. “You” refers to you as a user of the Site or Services.

    BY USING THE SITE OR SERVICES, YOU ARE AGREEING TO THESE TERMS. PLEASE READ THEM CAREFULLY.


    ### 1. ELIGIBILITY

    You must be at least 18 years old to use the Site or the Services.

    ### 2. ADDITIONAL TERMS

    Some of our Services have additional terms and conditions (“Additional Terms”). Where Additional Terms apply to a Service, we will make them available for you to read through your use of that Service. By using that Service, you agree to the Additional Terms.

    ### 3. ACCEPTABLE USE OF THE SITE AND SERVICES

    You are responsible for your use of the Site and Services, and for any use of the Site or Services made using your account. Our goal is to create a positive and safe user experience. To promote this goal, we prohibit certain kinds of conduct that may be harmful to other users or to us. When you use the Site or Services, you may not:

    - violate any law or regulation;
    - violate, infringe, or misappropriate other people’s intellectual property, privacy, publicity, or other legal rights;
    post or share anything that is illegal, abusive, harassing, harmful to reputation, pornographic, indecent, profane, obscene, hateful, racist, or otherwise objectionable;
    - send unsolicited or unauthorized advertising or commercial communications, such as spam;
    - engage in spidering or harvesting, or participate in the use of software, including spyware, designed to collect data from the Site or Services;
    - transmit any viruses or other computer instructions or technological means whose purpose is to disrupt, damage, or interfere with the use of computers or related systems;
    - stalk, harass, or harm another individual;
    - impersonate any person or entity or perform any other similar fraudulent activity, such as phishing;
    - use any means to scrape or crawl any Web pages contained in the Site;
    - attempt to circumvent any technological measure implemented by us or any of our providers or any other third party (including another user) to protect the Site or Services;
    - attempt to decipher, decompile, disassemble, or reverse engineer any of the software or other underlying code used to provide the Site or Services; or advocate, encourage, or assist any third party in doing any of the foregoing.

    hashs may investigate and prosecute violations of any of the above. hashs may involve and cooperate with law enforcement authorities in prosecuting users who violate these Terms. You acknowledge that hashs has no obligation to monitor your access to or use of the Site or Services or to review or edit any User Content, but has the right to do so for the purpose of operating the Site or Services, to ensure your compliance with these Terms, or to comply with applicable law or the order or requirement of a court, administrative agency, or other governmental body. hashs reserves the right, at any time and without prior notice, to remove or disable access to any content on the Services that hashs, at its sole discretion, considers to be objectionable for any reason, in violation of these Terms, or otherwise harmful to the Site or Services or any other person or entity.


    ### 4. USER CONTENT

    The Services allow you to upload, submit, store, send, or recieve content and data, such as your profile photos and descriptions that you add to your profile (“User Content”). You retain ownership of any intellectual property rights that you hold in that User Content. When you upload, submit, store, send, or receive User Content to or through the Site or Services, you give us permission to reproduce and use your User Content as follows: you grant to us and those we work with a license to use, host, store, reproduce, modify, create derivative works (such as translations, adaptations, or other changes we make so that User Content works better with the Site and Services), publicly perform, publicly display, commercial videos and distribute your User Content. We may exercise our rights under this license anywhere in the world. Lastly, this license is perpetual, meaning that our rights under this license continue even after you stop using the Site and Services. In general, however, we will only need to use your User Content for as long as you choose to store it with us using the Site or Services.

    You promise that:

    - you own all rights to your User Content or, alternatively, that you have the right to give us the rights described above; and
    - your User Content does not infringe the intellectual property rights, privacy rights, publicity rights, or other legal rights of any third party.

    We may refuse to accept or transmit User Content for any reason. We may remove User Content from the Site or Services for any reason.

    ### 5. OWNERSHIP

    Other than User Content, we own or license all right, title, and interest in and to (a) the Site and Services, including all software, text, media, and other content available on the Site and Services (“Our Content”); and (b) our trademarks, logos, and brand elements (“Marks”).

    ### 6. COPYRIGHT AND INTELLECTUAL PROPERTY POLICY

    We respond to notices of alleged copyright infringement and terminate accounts of repeat infringers according to the process set out in the U.S. Digital Millennium Copyright Act. If you believe that your work has been copied in a way that constitutes copyright infringement, please forward the following information to the Copyright Agent named below:

    - Your address, telephone number, and email address.
    - A description of the copyrighted work that you claim has been infringed.
    - A description of where the alleged infringing material is located.
    - A statement by you that you have a good faith belief that the disputed use is not authorized by you, the copyright owner, its agent, or the law.
    - An electronic or physical signature of the person authorized to act on behalf of the owner of the copyright interest.
    - A statement by you, made under penalty of perjury, that the above information is accurate and that you are the copyright owner or authorized to act on behalf of the copyright owner.

    Copyright Agent:

    Hashs Technologies IVS  
    Att: Legal Counsel  
    Ved Bellahoej Syd 25B  
    Broenshoj  
    legal@hashsapp.com

    For clarity, only copyright infringement notices should go to our Copyright Agent. You acknowledge that if you fail to comply with all of the requirements of this section your notice may not be valid. If you believe the content that was removed (or to which access was disabled) is not infringing, or that you have the authorization from the copyright owner, the copyright owner's agent, or pursuant to the law, to post and use such content, you may submit a counter-notice to the address listed above containing the following information:


    - Your physical or electronic signature;
    - Identification of the content that has been removed or to which access has been disabled and the location at which the content appeared before it was removed or disabled;
    - A statement that you have a good faith belief that the content was removed or disabled as a result of mistake or a misidentification of the content; and
    - Your name, physical address, telephone number, and e-mail address, a statement that you consent to the jurisdiction of the federal court in San Francisco, California, and a statement that you will accept service of process from the person who provided notification of the alleged infringement.
    - After we receive your counter-notification, we will forward it to the party who submitted the original claim of copyright infringement. Please note that when we forward the counter-notification, it includes your personal information. By submitting a counter-notification, you consent to having your information revealed in this way. We will not forward the counter-notification to any party other than the original claimant. After we send out the counter-notification, the claimant must then notify us within 10 days that he or she has filed an action seeking a court order to restrain you from engaging in infringing activity relating to the content that was removed or disabled. If we receive such notification we will be unable to restore the material. If we do not receive such notification, we may reinstate the material.

    ### 7. NON-COMMERCIAL USE ONLY

    The Site and Services are for personal use only. You may not use the Site or Services or any part of the Site or Services in connection with any commercial endeavors, such as (i) advertising or soliciting any user to buy or sell any products or services not offered by hashs or (ii) soliciting others to attend parties or other social functions, or networking, for commercial purposes. You may not use any information obtained from the Services to contact, advertise to, solicit, or sell to any other user unless you have his or her prior express consent.

    ### 8. PRIVACY

    Your privacy is very important to us. Our Privacy Policy explains how we collect, use, protect, and when we share personal information and other data with others. You are responsible for maintaining the confidentiality of your account information, including your username and password. You are responsible for all activities that occur under your account and you agree to notify us immediately of any unauthorized access or use of your account. We are not responsible or liable for any damage or loss related to any unauthorized access or use of your account.

    ### 9. LINKS

    The Site and Services may contain links to other websites and online resources. A link to a third party’s website does not mean that we endorse it or that we are affiliated with it. We are not responsible or liable for any damage or loss related to the use of any third-party website. You should always read the terms and conditions and privacy policy of a third-party website before using it.

    ### 10. THIRD PARTY CONTENT AND INTERACTIONS

    The Site and Services may contain features and functionalities that may link you or provide you with access to third party content which is completely independent of hashs, including websites, directories, servers, networks, systems, information and databases, applications, software, programs, products or services, and the Internet in general. Your interactions with organizations or individuals found on or through the Site and Services are solely between you and such organizations or individuals. You should make whatever investigation you feel necessary or appropriate before proceeding with any interaction with any of these third parties. You agree that hashs is not responsible or liable for any loss or damage of any kind or nature incurred as the result of any such dealings. If there is a dispute between users of the Site or Services, or between users and any third party, you understand and agree that hashs is under no obligation to become involved. In the event that you have a dispute with any other user of the Site or Services, you hereby release hashs and its affiliates, and their officers, employees, agents, and successors from claims, demands, and damages (actual and consequential) of every kind or nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way related to such disputes or the Site and Services. If you are a California resident, you waive California Civil Code Section 1542, which provides: A general release does not extend to claims which the creditor does not know or suspect to exist in his favor at the time of executing the release, which, if known by him must have materially affected his settlement with the debtor.

    ### 11. CHANGES TO THE SITE OR SERVICES

    We enhance and update the Site and Services often. We may change or discontinue the Site or Services at any time, with or without notice to you.

    ### 12. TERMINATION

    We reserve the right to not provide the Site or Services to any person. We also reserve the right to terminate any user’s right to access the Site or Services at any time, in our discretion. If you violate any of these Terms, your permission to use the Site and Services automatically terminates.

    ### 13. DISCLAIMER AND LIMITATIONS ON OUR LIABILITY

    YOU USE THE SITE AND SERVICES AT YOUR OWN RISK. THE SITE AND SERVICES ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS. TO THE EXTENT PERMITTED BY APPLICABLE LAW, HASHS TECHNOLOGIES IVS AND ITS OFFICERS, EMPLOYEES, DIRECTORS, SHAREHOLDERS, PARENTS, SUBSIDIARIES, AFFILIATES, AGENTS, AND LICENSORS (“AFFILIATES”) DISCLAIMS ALL WARRANTIES, CONDITIONS, AND REPRESENTATIONS OF ANY KIND, WHETHER EXPRESS, IMPLIED, STATUTORY, OR OTHERWISE, INCLUDING THOSE RELATED TO MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT AND THOSE ARISING OUT OF COURSE OF DEALING, USAGE, OR TRADE. IN PARTICULAR, HASHS ITS AFFILIATES MAKE NO REPRESENTATIONS OR WARRANTIES ABOUT THE ACCURACY OR COMPLETENESS OF CONTENT AVAILABLE ON OR THROUGH THE SITE OR SERVICES, OR THE CONTENT OF ANY WEBSITES OR ONLINE SERVICES LINKED TO OR INTEGRATED WITH THE SITE OR SERVICES. HASHS AND ITS AFFILIATES WILL HAVE NO LIABILITY FOR ANY: (A) ERRORS, MISTAKES, OR INACCURACIES OF CONTENT; (b) PERSONAL INJURY OR PROPERTY DAMAGE RESULTING FROM YOUR ACCESS TO OR USE OF THE SITE OR SERVICES; (c) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SERVERS OR OF ANY PERSONAL INFORMATION OR USER DATA; (d) ANY INTERRUPTION OF TRANSMISSION TO OR FROM THE SITE OR SERVICES; (e) ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE WHICH MAY BE TRANSMITTED ON OR THROUGH THE SITE OR SERVICES BY ANY THIRD PARTY; OR (f) ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF ANY CONTENT POSTED OR SHARED THROUGH THE SITE OR SERVICES. YOU UNDERSTAND AND AGREE THAT ANY MATERIAL OR INFORMATION DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE SITE OR SERVICES IS DONE AT YOUR OWN RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE ARISING FROM DOING SO. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM US OR THROUGH THE SITE OR SERVICES WILL CREATE ANY WARRANTY NOT EXPRESSLY MADE IN THESE TERMS. YOU ARE SOLELY RESPONSIBLE FOR YOUR INTERACTIONS WITH OTHER USERS. YOU UNDERSTAND THAT WE CURRENTLY DO NOT CONDUCT CRIMINAL BACKGROUND CHECKS OR SCREENINGS ON OR ANY OTHER SCREENING OF USERS. WE ALSO DO NOT INQUIRE INTO THE BACKGROUNDS OF ALL USERS OR ATTEMPT TO VERIFY THE STATEMENTS OF USERS. HASHS MAKES NO REPRESENTATIONS OR WARRANTIES AS TO THE CONDUCT OF USERS OR THEIR COMPATIBILITY WITH ANY CURRENT OR FUTURE USERS. WE RESERVE THE RIGHT TO CONDUCT ANY CRIMINAL BACKGROUND CHECK OR OTHER SCREENINGS (SUCH AS SEX OFFENDER REGISTRY SEARCHES), AT ANY TIME AND USING AVAILABLE PUBLIC RECORDS. TO THE EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT WILL HASHS OR ITS AFFILIATES BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES (INCLUDING FOR THE INDIRECT LOSS OF PROFIT, REVENUE, OR DATA) ARISING OUT OF OR RELATING TO THE SITE OR SERVICES, HOWEVER CAUSED, AND UNDER WHATEVER CAUSE OF ACTION OR THEORY OF LIABILITY BROUGHT (INCLUDING UNDER ANY CONTRACT, NEGLIGENCE, OR OTHER TORT THEORY OF LIABILITY) EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

    Some jurisdictions do not allow the exclusion of certain warranties or the limitation or exclusion of liability for incidental or consequential damages. Accordingly, some of the above limitations and disclaimers may not apply to you. To the extent we may not, as a matter of applicable law, disclaim any implied warranty or limit our liabilities, the scope and duration of such warranty and the extent of our liability will be the minimum permitted under such law.

    ### 14. INDEMNIFICATION

    You agree to indemnify and hold harmless hashs and its Affiliates from and against any and all claims, costs, proceedings, demands, losses, damages, and expenses (including, without limitation, reasonable attorney’s fees and legal costs) of any kind or nature, arising from or relating to, any actual or alleged breach of these Terms by you or anyone using your account. If we assume the defense of such a matter, you will reasonably cooperate with us in such defense.

    ### 15. OTHER PROVISIONS

    Under no circumstances will we be held liable for any delay or failure in performance due in whole or in part to any acts of nature or other causes beyond our reasonable control. These Terms will be governed by and construed in accordance with the laws of the State of California, without giving effect to any conflict of laws rules or provisions. You agree that any action of whatever nature arising from or relating to these Terms, the Site, or Services will be filed only in Copenhagen, Denmark. You consent and submit to the personal jurisdiction of such courts for the purposes of any such action. If any provision of these Terms is found to be unlawful or unenforceable, then that provision will be deemed severable from these Terms and will not affect the enforceability of any other provisions. The failure by us to enforce any right or provision of these Terms will not prevent us from enforcing such right or provision in the future. We may assign our rights and obligations under these Terms, including in connection with a merger, acquisition, sale of assets or equity, or by operation of law.

    ### 16. CHANGES TO THESE TERMS

    From time to time, we may change these Terms. If we change these Terms, we will give you notice by posting the revised Terms on the Site. Those changes will go into effect on the Revision Date shown in the revised Terms. By continuing to use the Site or Services, you are agreeing to the revised Terms. Please print a copy of these Terms for you records and PLEASE check the Site AND SERVICES frequently for any changes to these Terms.